body {
  font-family: Arial, sans-serif;
  background-color: #7470703b;
  align-items: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
  background: linear-gradient(30deg, #9d9090, #2c2b2b);
  color: rgb(250, 244, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 1px;
}

header button, header .menu-topple {
  display: none; 
}

nav {
   flex: 1;
   margin-left: 1020px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  color: #ffffff;
}

nav a:hover::after {
  width: 20%
}

.icons img {
  width: 25px;
  margin-left: 5px;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  background-color: #e0dfdf; 
  padding: 30px 200px;
  text-align: center;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.search-input {
    width: 350px;
    padding: 10px 15px;
    border-radius: 20px 0 0 20px;
    border: 2px solid #555;
    outline: none;
    font-size: 16px;
}

.search-btn {
    padding: 10px 20px;
    border: 2px solid #555;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background: #444;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.search-btn:hover {
    background: #222;
}

.hero-content h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  margin-bottom: 40px;
}

.product-link {
  text-decoration: none;  
  color: inherit;          
  display: block;         
}

.product-link .product {
  transition: transform 0.1s ease;
}

.product-link:hover .product {
  transform: scale(1.02); 
  cursor: pointer;
}


.shop-btn {
  background-color: #727272;
  color: #000000;
  padding: 8px 20px;
  font-size: 0.9em;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px; 
  transition: background-color 0.3s ease;
}

.shop-btn:hover {
  background-color: #cec9c0;
}

.hero-nav-img img {
  width: 340px;
  height: auto; 
  margin-top: 10px;
  border-radius: 8px;
  opacity: 0.95; 
}


.shop-btn:hover {
  background-color: #000000;
  transform: translateY(-3px);
}

.shop-section {
  padding: 60px 20px;
  background-color: #2c2b2b;
}

featured-products {
  text-align: center;
  padding: 80px 20px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.product {
  background: white;
  border-radius: 10px;
  padding: 40px;
  width: 320px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  border-radius: 8px;
}

.search-section {
  margin-top: 50px;
}


footer { 
  background-color: #b7b2b2;
  color: whote; 
  text-align: center;
  padding: 20px'
}

footer a {
  color: #ababaa;
}

.icon img {
  width: 24px; 
  height: 24px; 
  object-fit: contain;
  filter: brightness(0) saturate(100%) invert(0) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
  transition: transform 0.2s; 
  vertical-align: middle;
}

.icon img[alt="Cart"] {
  margin-top: 2px; 
}

.icon img hover{
  transform: scale(1.1); 
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .products {
    flex-direction: column;
    align-items: center;
  }
}