header {
  background: linear-gradient(30deg, #9d9090, #2c2b2b);
  color: rgb(250, 244, 244);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5x 5px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #dcdcdc;
    font-weight: 500;
}

.add-cart-btn {
    display: inline-block;
    background: #c6c6c6;       
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.add-cart-btn:hover {
    background: #b3b3b3;
}

.header nav a.active {
    border-bottom: 2px solid #d5d3da;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #b9b9b9, #ffffff);
    color: #fdfdff;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    opacity: 0.8;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px;
}

.product-card {
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeIn 0.6s ease forwards;
}

.product-card:nth-child(2) { animation-delay: 0.1s; }
.product-card:nth-child(3) { animation-delay: 0.2s; }
.product-card:nth-child(4) { animation-delay: 0.3s; }

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    animation: glow 2s ease-in-out infinite alternate;
}
.search-bar input {
    padding: 8px 14px;
    border-radius: 20px;
    border: none;
    width: 200px;
    outline: none;
    transition: 0.3s;
}

.search-bar input:focus {
    box-shadow: 0 0 10px #c6a7ff;
    width: 260px;
}


@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff;
    }
    to {
        text-shadow: 0 0 20px #d6b3ff, 0 0 35px #a07bff;
    }
}

.product-card img {
    transition: transform 0.3s;
}

.product-card img:hover {
    transform: scale(1.05);
}


.product-card {
    background: #464545;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(255, 251, 251, 0.15);
    transition: 0.2s ease-in-out;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(150, 130, 200, 0.2);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3 {
    margin: 15px 0 5px;
    color: #d8d8d8;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #bfbebe;
}

.desc {
    font-size: 14px;
    margin: 8px 0 15px;
    color: #ffffff;
}

button {
    background: #b0b0b0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #000000;
}
