body {
  font-family: Arial, sans-serif;
  margin: 0;
  border: 5px solid black;
  background-image: linear-gradient(orange, #fff);
}

header {
  background-color: black;
  color: orange;
  text-align: center;
  padding: 10px 0 20px;
  overflow: hidden;
}

header img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  float: left;
}

h1 {
  margin: 0;
  font-size: 2em;
}

h2 {
  margin: 5px 0 15px 0;
  font-weight: normal;
}

.top-nav {
  background-color: black;
  padding: 10px 0;
}

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.top-nav a {
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  display: block;
}

.top-nav a:hover {
  background-color: gray;
}

.top-nav a.current {
  color: orange;
}


.side-nav {
  float: left;
  width: 160px;
  padding: 20px;
}

.side-nav ul {
  list-style: none;
  padding: 0;
}

.side-nav a {
  display: block;
  text-align: center;
  background-color: orange;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
}

.side-nav a:hover {
  background-color: #ffb84d;
}


section {
  margin-left: 220px;
  padding: 20px;
}

section h2 {
  font-size: 1.5em;
  color: black;
}

section p {
  line-height: 1.4;
  margin-bottom: 20px;
}

section a {
  color: blue;
  text-decoration: underline;
}

section a:hover {
  color: purple;
}

footer {
  clear: both;
  background-color: orange;
  color: black;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  border-top: 2px solid black;
}