body {
  background-color: #b2b0b0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #f9f6f6;
  width: 85%;
  max-width: 1100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 2px solid #000;
  margin: 20px 0;
}

header {
  width: 100%;
}

.topbar {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  width: 200px;
}

.icons img {
  width: 50px;
  margin-left: 15px;
  cursor: pointer;
}

header img:hover {
  transform: scale(1.1);
}

nav {
  background-color: white;
  border-top: 2px solid #000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s;
}

nav a:hover,
nav .contact {
  background-color: #4ea1af;
  color: white;
}

.banner img {
  width: 100%;
  display: block;
  object-fit: cover;
}

main {
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    padding:20px;
    background:#f2f2f2;
}

.news {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 30%;
}

.news h3 {
  background-color: #48a8c4;
  color: white;
  padding: 10px;
  margin-top: 0;
}

.news ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

.news li {
  margin-bottom: 15px;
  line-height: 1.4;
}

.new li:last-child {
  margin-bottom: 0;
}

.overview {
  flex: 2;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
}

.overview h2 {
  background-color: #48a8c4;
  color: white;
  padding: 10px;
  margin-top: 0;
}

.overview h3 {
  color: #000;
  margin-top: 15px;
}

.icm-banner {
  text-align: center;
  margin: 20px 0; 
}

.icm-banner img {
  width: 90%;
  align-items: center;
  margin-top: 20px;
}

footer {
  background-color: #111;
  color: white;
  padding: 20px;
  font-size: 0.9em;
  line-height: 1.4;
}

