@import url("normalize.css");

body {
  background: linear-gradient(to bottom, #f9e9c6, #e7c89b);
  margin: 0;
  padding: 40px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  width: 950px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 1px solid #e7a578;
}

header {
  background: linear-gradient(30deg, #800000, #e6c27a);
  color: rgb(255, 255, 255);
  padding: 20px 0 20px 140px;
  border-bottom: 5px solid #000;
  position: relative;
}

footer {
  text-align: center;
  color: white;
  background-color: #800000;
  padding: 15px 0;
  border-top: 5px solid #000;
}

main {
  overflow: hidden;
  padding: 20px;
}

aside {
  float: left;
  width: 100px;
  padding: 10px;
}

section {
  float: right;
  width: 640px;
  padding: 10px 20px;
}

header .logo {
  float: left;
  width: 70px;
  margin-left: 50px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header h3 {
  font-style: italic;
  margin: 5px;
}

.shadow {
  text-shadow: 2px 2px 4px black;
}

aside h2 {
  color: maroon;
  margin-bottom: 10px;
}

aside h3 {
  font-size: 0.9em;
  margin: 10px 0 5px 0;
}

aside img {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

section h2 {
  color: maroon;
  column-span: all;
  padding-bottom: 5px;
}

section h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

article {
  column-count: 2;
  column-gap: 25px;
  text-align: justify;
}

article img {
  width: 275px;
  border: 2px solid black;
  float: left;
  margin: 0 15px 10px 0;
}

a:hover {
  font-style: italic;
}
