header {
    text-align: center;
    padding: 20px; 
    background-color: #b2dfdb;
}

section {
    margin-bottom: 20px; 
}

img {
    display: block; 
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #555'
}

ul {
    list-style-type: square; 
    padding-left: 40px; 
}

footer {
    background-color: #004d40;
    color: white;
    padding: 10px;
}


foter p {
    text-align: center;
}